body
     {
      background:url("icons/background.jpg");  
	background-size:cover;
     }

/*-----------------------------------------------desktop view ---------------------------------------- */ 
 @media screen and (min-width: 480px) {
                                   /* , navbar style and edited bootstrap of navbar      */ 
     .navbar-brand {
    float: left;
    height: 50px;
    padding: 5px 27px;
    font-size: 14px;
    line-height: 16px;
    color: #ccc;         
     }
.navbar-default {
    background-color: #2e3a45d6;
    border-color: #e7e7e7;
     }
 .navbar-default .navbar-brand {
    color: #ccc;
}        
 .navbar-default .navbar-nav>li>a {
    color: #ccc;
         }
.navbar-default .navbar-nav>li>a:hover {
    color: beige;
         }     
.navbar-default .navbar-nav>li>a:active {
    color: beige;
         }    
#nav1
        {
            padding:5px 50px 5px 50px !important;
        }       
#tabs
    {
     float:right;
     }
 
/*---------------------------middle section for design other page edit this section--------------------*/ 

 /* -------------------------------------group image section -----------------------*/    

    .uppersection {
    background-image: url(icons/grouppic1.JPG);
    background-position: 100% 100%;
    width: 100%;
    height: 1000px;
    background-repeat: no-repeat;
    margin-top: -329px;
}
        
.middle
     {
         background-color:white;
         color:black;
         width:70%;
         height:auto;
         margin-top:-440px;
         margin-bottom: 100px;
         border-color:#08080833;
         border-radius: 1px;
         border-width:1px;
         border-style: solid;
         box-shadow: 4px 4px #08080833;
         margin-left:15%
     }   

#profilepart1
     {
         padding: 40px 20px 20px 40px;
         
     }
#profilepart2
     {
         padding: 20px 20px 20px 80px;
         
     }
    #contactheading
     {
         padding-top:40px;

     }
   #logo1
     {
         padding: 10px 10px 10px 10px;
     }
     #logo2
     {
         padding: 10px;
     }
     #logo3
     {
         padding: 10px;
     }
     #detailheadings
     {
         padding-left: 10px;
     }
       #profilepic
    {
      box-shadow: 3px 4px 4px #0000008f;
    }
/* ------------------------- footer , i think it's perfect ------------------------------------ */ 
.footer1
     {
         padding: 30px 70px 10px 70px;
         background-color: #2e3a45;;
         color:#ccc;
         margin-top:10px;
         font-family: "Times New Roman", Times, serif;
     }
     #coordinators
     {
        padding-left:120px !important;
     }
     #sendMessage
     {
         margin-top:10px;
     }
    #coordinator1
        {
            padding-top:15px;
            padding-left: 30px;
        }
     
     }






/* , mobile and small device view -------------------------------------*/ 
@media screen and (max-width: 480px) {
   
    
/*--------------------------------------navbar style and edited bootstrap of navbar -------------- */ 
    .navbar-brand {
    float: left;
    height: 50px;
    padding: 0px 28px 0px 67px;
    font-size: 10px;
    line-height: 15px;
    margin-top: -54px;
    color: #ccc;
        }
 .navbar-default {
    background-color: #2e3a45d6;
    border-color: #e7e7e7;
   
    }  
.navbar-default .navbar-brand {
    color: #ccc;
}        
.navbar-default .navbar-nav>li>a {
    color: #ccc;
             }
hover:.navbar-default .navbar-nav>li>a:hover {
    color:beige;
             }      
hover:.navbar-default .navbar-nav>li>a:active {
    color:beige;
             }    
 #nav1
        {
            padding:5px 0px 5px 10px !important;
        }     
#tabs
     {
         float:left;
     }
    
    
 /* -------------------------------------group image section -----------------------*/    

    .uppersection
    {
         background-image: url("icons/grouppic.JPG");
        width:100%;
        height:auto;
    }
    
                                             
/* -------------------------------------middle section for design other page edit this section -----------------------*/ 

.middle
     {
         
         background-color:white;
         color:black;
         width:100%;
         height:auto;
         margin-top:0px;
         margin-bottom: 100px;
         border-color:#08080833;
         border-radius: 1px;
         border-width:1px;
         border-style: solid;
         box-shadow: 4px 4px #08080833;
         margin-left:0px;
     }
  /*---------------------profile css------------------------------------------------------------ */  
    
#profilepart1
     {
         padding: 40px 20px 20px 40px;
         
     }
#profilepart2
     {
         padding: 20px 30px 20px 50px;
         
     }
    #contactheading
     {
         padding-top:40px;

     }
   #logo1
     {
         padding: 10px 10px 10px 10px;
     }
     #logo2
     {
         padding: 10px;
     }
     #logo3
     {
         padding: 10px;
     }
    #profilepic
    {
       margin-left:26px;  
       border-radius: 50%;
    }
    
/*----------------------------------footer , i think it's perfect----------------------------------------------------*/ 
   .footer1
     {
         padding: 30px 30px 30px 30px;
         background-color:#2e3a45;
         color:#ccc;
         margin-top:10px;
         font-family: "Times New Roman", Times, serif;
     }
     #coordinators
     {
        padding-left:30px;
     }
     #sendMessage
     {
         margin-top:10px;
     }

     }